form {
    display: flex;
    margin: 0 2px 0 1px;
}

form input + button {
    margin-left: 5px;
}

ul {
    margin: 8px 0 0;
    padding-left: 20px;
}

ul li a.remove-link {
    text-decoration: none;
    color: red;
}
